<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Birthday Reminder</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<h1 class="header">Welcome to the application birthday reminder.</h1><br>
<h3>this app has all the birthdays</h3>
<form id="birthdayForm"  method="post">
    <input id="birthdayBoy" type="text">Name of the person</input>
    <input id="birthdayDate" type="date">Date</input>
    <input id="auto_wish" type="checkbox">AutoWish</input>
    <input name="submit" type="submit" onclick="ajaxPost()">Add</input>
</form>
</body>
<script src="/js/base.js"></script>
</html>