<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<body>
<div>
    <h1 class="header">
        Birthday Reminder !!!!!
    </h1>
</div>
<form action="/loginProcessor" method="post">
    <div class="login"><input name="username" type="text"/></div>
    <div class="login"><input name="password" type="password"/></div>
    <div class="login"><button type="button" onclick="this.form.submit()"/>Log In</div>
</form>
</body>
</html>