<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Birthday Reminder</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="shortcut icon" type="image/png" href="/images/favicons/calendar.png"/>
<div class="birthday">
    <h1>Welcome to the birthday reminder.</h1><br>
    <h3>Add Birthdays here</h3><br>
    <form id="birthdayForm" method="post">
        <table id="newBirthday">
            <tr>
                <th>Name of the person</th>
                <th>Date</th>
                <th>AutoWish</th>
            </tr>
            <tr>
                <td><input name="birthdayBoy" id="birthdayBoy" type="text"/></td>
                <td><input name="birthdayDate" id="birthdayDate" type="date"/></td>
                <td><input name="auto_wish" id="auto_wish" type="checkbox"/></td>
            </tr>
        </table>
        <button name="submit" type="button" onclick="makeCall()">Add</button>
    </form>
    <button name="getall" type="button" onclick="viewAllBirthdays()">getall</button>
    <div id="BirthdayList">

    </div>
</div>
</body>
<script src="/js/base.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" />-->
</html>