<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birthday Reminder</title>
</head>
<link rel="shortcut icon" type="image/png" href="/src/main/webapp/images/favicons/calendar.png"/>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<body>
<div>
    <!--h1 class="header" name="titleDiv">
        Birthday Reminder !!!!!
    </h1-->
</div>
<form action="/loginProcessor" method="post">
    <h1 class="header" name="titleDiv">
        Login to Birthday Reminder !!!!!
    </h1>
    <div class="login"><input name="username" type="text" placeholder="username"/></div>
    <div class="login"><input name="password" type="password" placeholder="password"/></div>
    <div class="login">
        <button type="button" onclick="this.form.submit()"/>
        Log In
    </div>
</form>
</body>
</html>