<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birthday Reminder</title>
</head>
<link rel="shortcut icon" type="image/png" href="/images/favicons/calendar.png"/>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<body>
<div class="login">
<h1 class="header" name="titleDiv" >Login to Birthday Reminder !!!!!</h1><br>
<form action="/loginProcessor" method="post">
    <input name="username" type="text" placeholder="username"/><br>
    <input name="password" type="password" placeholder="password"/><br>
    <button type="button" onclick="this.form.submit()">
        Log In</button>
</form>
    <h3 class="header">Not a User <a href="/signUpPage">Click here to sign up</a></h3>
</div>

</body>
</html>